<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CSS Zen Garden: The Beauty of CSS Design</title>

	<link rel="stylesheet" media="screen" href="<{$t_dir}>css/170.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Dave Shea">
	<meta name="description" content="A demonstration of what can be accomplished visually through CSS-based design.">
	<meta name="robots" content="all">
</head>

<body id="css-zen-garden">
	<div id="top_1">
		<div style="float:left;padding-left:40px;font-size:40px;font-family:'华文隶书';padding-top:5px;font-style:bold">Tertiary grass</div>
		<div style="padding-top:10px;float:right;padding-right:40px;font-weight:bold"><a href="login.php" target="_parent">登陆</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="register.php" target="_parent">注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="message_send.php" target="TEST">私信</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="note_collect.php" target="TEST">收藏</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="index.php?quit_login=1">退出</a></div>
		<div style="padding-left:100px;font-size:20px;font-family:'华文隶书';padding-top:55px;font-style:bold">读书之法，在于循序而渐进，熟读而精思。</div>
		<div style="float:right;margin-top:-50px;padding-right:350px;">
			<form method="post" action="search_main.php" target="TEST">
			<input style="height:30px;width:250px" type="text" required="true" placeholder="搜索"  name="search_keyword"/>
			&nbsp;&nbsp;&nbsp;
			<input style="height:34px;width:60px;background-color:red;border-style:none;color:white" type="submit" value="开始" name="sub"/>
				</form>
		</div>
	</div>
</body>
</html>