<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CSS Zen Garden: The Beauty of CSS Design</title>

	<link rel="stylesheet" media="screen" href="<{$t_dir}>css/resource.css">
	<script type="text/javascript" src="<{$t_dir}>js/jquery-1.4.2.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Dave Shea">
	<meta name="description" content="A demonstration of what can be accomplished visually through CSS-based design.">
	<meta name="robots" content="all">
	<script language="javascript">
	</script>
</head>

<body id="css-zen-garden">
	<div id="resource_top_1">
		<div style="padding-top:10px;float:right;padding-right:40px;font-weight:bold"><a href="login.php">登陆</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="register.php">注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="message_send.php">私信</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="resource_my_collect.php">收藏</a></div>
		<div style="padding-top:10px;float:left;padding-left:40px;font-weight:bold"><a href="index.php">我的首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">相关技术</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">我的博客</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">手机应用</a></div>
	</div>
	
	
	<div id="resource_zong">
		<div>
			<div style="margin-top:20px;float:left;padding-left:40px;font-size:40px;font-family:'华文隶书';font-style:bold">Tertiary grass download</div>
			<div style="margin-top:20px;float:left;margin-left:80px;"><input style="height:30px;width:350px" type="text" required="true" placeholder="搜索"/>&nbsp;&nbsp;&nbsp;<input style="height:34px;width:60px;background-color:red;border-style:none;color:white" type="button" value="开始"/></div>
			<div style="margin-top:26px;float:left;padding-left:60px;" ><img src="<{$t_dir}>image/onload1.png"></div>
			<div style="margin-top:32px;float:left;padding-left:10px;font-weight:bold;" ><span style="color:#d3e4f4;margin-top:-10px;"><a href="resource_upload.php">上&nbsp;传&nbsp;资&nbsp;料</a></span></div>
		</div>
		
		
		<div id="resource_zong_1">
			<ul>
				<li><a href="resource_main.php">首页</a></li>
				<li><a href="resource_classify.php">分类下载</a></li>
				<li><a href="resource_groom.php">推荐下载</a></li>
				<li><a href="resource_new.php">最新下载</a></li>
				<li><a href="resource_upload.php">资源上传</a></li>
				<li style="background:#7c9acc">我的资料</li>
			</ul>
		</div>
		<div style="width:100%; font-family:'华文楷体';font-weight:bold;color:#E5FBBB;background:#5192cc;padding-top:6px;padding-bottom:6px;"><span style="margin-left:20px">首页>我的资料</span></div>
		
		<div style="font-family:'华文楷体';font-size:20px;margin-left:20px;margin-top:20px;">
			<div style="border:solid 1px #5192cc;width:250px;position:absolute">
				<table id="resource_my_1" border="0" width="250px" height="180px">
					<tr style="background:#094dbe;color:white"><td><a href="resource_my.html">全部资源</a></td></tr>
					<tr><td><a href="resource_my_upload.php">我的上传</a></td></tr>
					<tr><td><a href="resource_my_collect.php">我的收藏</a></td></tr>
				</table>
			</div>
			
			<div style="width:250px;font-family:'华文楷体';font-size:17px;position:absolute;top:450px;">
				<h3>下载热点</h3>
				<hr/>
				<{section name=key loop=$source_list}>
					<div class="resource_my_2"><{$source_list[key].source_name}></div>
				<{/section}>

			</div>
			
			<div style="width:835px;margin-left:290px;font-family:'华文楷体';font-size:17px;color:#123053">
				<table border="0" width="835px">
					<tr><td rowspan="3" width="100px"><img src="<{$t_dir}>image/user_hade.png" width="95px"></td><td colspan="2"><{$user_name}></td></tr>
					<tr><td width="200px">我的积分：<{$user_intergral}></td><td>上传权限：2M</td></tr>
					<tr><td>上传资源数：<{$upload_num}>个</td><td>下载资源数：<{$user_download_num}>个</td></tr>
					<tr><td>&nbsp;&nbsp;</td></tr>
					<tr><td>&nbsp;&nbsp;</td></tr>
					<tr style="background:#5192cc"><td colspan="6" style="padding:8px"><span style="float:left">我上传的资源（<{$upload_num}>个）</span><span style="float:right"><a href="resource_my_upload.php">查看全部>></a></span></td></tr>
					<tr class="resource_my_3" style="background:#68a3d8"><td width="600px" colspan="2">标题</td><td>所需积分</td><td>下载次数</td><td>获得积分</td><td>上传日期</td></tr>
					<{section name=key loop=$upload_list}>
					<tr class="resource_my_3"><td colspan="3"><div style="float:left"><{$upload_list[key].source_name}></div><div style="float:right;padding-right:110px;"><{$upload_list[key].source_price}></div></td><td style="padding-left:40px"><{$upload_list[key].source_download_num}></td><td style="padding-left:40px"><{$upload_list[key].get_intergral}></td><td><{$upload_list[key].source_datetime}></td></tr>
					<{/section}>

					<tr style="background:#5192cc"><td colspan="6"><span style="float:left;padding:8px;">我收藏过的资源（<{$user_collection_num}>个）</span><span style="float:right;padding:8px;"><a href="resource_my_collect.php">查看全部>></a></span></td></tr>
					<tr class="resource_my_3" style="background:#68a3d8"><td colspan="4">标题/下载积分</td><td colspan="2">下载详情</td></tr>
					<{section name=key loop=$collection_list}>
					<tr class="resource_my_3"><td colspan="4"><span style="float:left;padding:8px;"><h4><{$collection_list[key].source_name}></h4></span>  <span style="float:right;padding:8px;padding-right:80px;"><{$collection_list[key].source_price}></span></td><td colspan="2"> 下载量：<{$collection_list[key].source_download_num}></td></tr>
					<{/section}>
				</table>
			</div>
		</div>
	</div>
	
	
	<div style="width:85%;background:#79A6D4;margin:30px auto;padding-top:30px;padding-bottom:30px;font-size:15px;font-family:'华文楷体'" >
		<center>
		关于我们&nbsp;&nbsp;|&nbsp;&nbsp;联系我们&nbsp;&nbsp;|&nbsp;&nbsp;意见反馈<br/><br/>
			Copyright©2005-2017&nbsp;&nbsp;Tertiary_grass.COM 版权所有<br/><br/>
			本站由沈阳师范大学软件学院技术指导
		</center>
	</div>
	
</body>
</html>